@media only screen and (max-width: 799px) {
    video {
        width: 400px;
        height: 320px;
    }
}

@media only screen and (max-width: 320px) {
    video {
        width: 320px;
        height: 320px;
    }
}

html{
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

h1 {
    font-family: "Verdana";
    font-weight: normal;
    font-size: 50px;
    color:white;
}

a {
    color: Aquamarine;
    font-size: 1rem;
    display: block;
    text-align: center;
}

h1, h2, p {
    color: white;
    font-family: "Verdana";
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

#copyright {
    text-align: right;
}

.blocky {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

#phone {
    margin-top: 2rem;
}

#camp {
    width: 100%;
}